<h3>Login</h3>
<div class="container" id="todoContainerDiv">

  <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMessage}}</div>

  <div>
    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput type="text" name="username" [(ngModel)]='username'>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]='password'>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)=handleLogin()>Login</button>

</div>
