<h3>Confirm Delete</h3>
<div class="container" style="height: 250px; overflow: auto;">

  <mat-card fxFlex>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon style="color:crimson; font-size: 40px;">delete</mat-icon>
      </div>
      <mat-card-title>Do you confirm the deletion of the Todo?</mat-card-title>
      <mat-card-subtitle>"{{description}}" of the userName: {{userName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell class="idColumn" *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell class="idColumn" *matCellDef="let todo"> {{todo.id}} </mat-cell>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell class="descriptionColumn" *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell class="descriptionColumn" *matCellDef="let todo"> {{todo.description}} </mat-cell>
        </ng-container>
        <!-- Target Date Column -->
        <ng-container matColumnDef="targetDate">
          <mat-header-cell *matHeaderCellDef> Target Date </mat-header-cell>
          <mat-cell *matCellDef="let todo"> {{todo.targetDate | date}} </mat-cell>
        </ng-container>
        <!-- Done Column -->
        <ng-container matColumnDef="done">
          <mat-header-cell *matHeaderCellDef> Is Completed? </mat-header-cell>
          <mat-cell *matCellDef="let todo" [ngSwitch]="todo.done">
            <span *ngSwitchCase="true">Yes</span>
            <span *ngSwitchCase="false">No</span>
          </mat-cell>
        </ng-container>
        <!-- UserName Column -->
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
          <mat-cell *matCellDef="let todo"> {{todo.userName}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="basic" [routerLink]="['/todos', userName]">
          Cancel
        </button>
        <button mat-raised-button color="primary" class="floatRight"
                (click)="confirmDelete(userName, id, description)">
          Confirm
        </button>
    </mat-card-actions>
  </mat-card>

</div>
