<h3>My Todo's</h3>
<div class="container" id="todoContainerDiv">

  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

  <mat-table [dataSource]="dataSource" matSort #todosTable>
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.description}} </mat-cell>
    </ng-container>

    <!-- Target Date Column -->
    <ng-container matColumnDef="targetDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Target Date </mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.targetDate | date}} </mat-cell>
    </ng-container>

    <!-- Done Column -->
    <ng-container matColumnDef="done">
      <mat-header-cell *matHeaderCellDef> Is Completed? </mat-header-cell>
      <mat-cell *matCellDef="let todo" [ngSwitch]="todo.done">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchCase="false">No</span>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell class="actions" *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell  class="actions" *matCellDef="let todo">
        <button mat-raised-button color="primary" (click)="gotoTodo(todo.userName,todo.id, 'edit')">Edit</button>
        <button mat-raised-button color="primary" style="background-color:green;"
                                                  (click)="gotoTodo(todo.userName,todo.id, 'new')">New</button>
        <button mat-raised-button color="warn" (click)="deleteTodo(todo.userName, todo.id, todo.description)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
